In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/CS5542 - Big Data/ICP9_DylanFox/data/Real estate.csv")

In [3]:
df.shape

(414, 8)

In [4]:
df

      No  X1 transaction date  ...  X6 longitude  Y house price of unit area
0      1             2012.917  ...     121.54024                        37.9
1      2             2012.917  ...     121.53951                        42.2
2      3             2013.583  ...     121.54391                        47.3
3      4             2013.500  ...     121.54391                        54.8
4      5             2012.833  ...     121.54245                        43.1
..   ...                  ...  ...           ...                         ...
409  410             2013.000  ...     121.50381                        15.4
410  411             2012.667  ...     121.54310                        50.0
411  412             2013.250  ...     121.53986                        40.6
412  413             2013.000  ...     121.54067                        52.5
413  414             2013.500  ...     121.54310                        63.9

[414 rows x 8 columns]

In [3]:
X = df['Y house price of unit area']
y = df[['X2 house age', 'X3 distance to the nearest MRT station', 'X4 number of convenience stores']]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [4]:
reg = linear_model.LinearRegression()
reg.fit(X_train.values.reshape((-1, 1)), y_train)
pred = reg.predict(X_test.values.reshape((-1, 1)))

In [7]:
print("Coefficients: ", reg.coef_)
print("Mean squared error: %.2f" % mean_squared_error(y_test, pred))
print("Coefficient of determination: %.2f" % r2_score(y_test, pred))

Coefficients:  [[ -0.16946542]
 [-58.34282264]
 [  0.11870317]]
Mean squared error: 287851.68
Coefficient of determination: 0.31

In [6]:
reg.intercept_

array([ 2.43741086e+01,  3.31162323e+03, -3.89916681e-01])